{% extends 'base.html' %}
{% block content %}
 
    <div class="container_student" style="background-color:none;"> 
        <ul class="nav nav-pills nav-justified" style="background-color:#ccefff; margin-top:10px;">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" id="v-pills-books-tab" data-toggle="pill" href="#v-pills-books"
                aria-controls="v-pills-books" aria-selected="true" style="color:black;">Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="v-pills-issued-books-tab" data-toggle="pill" href="#v-pills-question-ppr"
                aria-controls="v-pills-question-ppr" aria-selected="false" style="color:black;">Question Papers</a>
            </li> 
            <li class="nav-item">
                <a class="nav-link" id="v-pills-issued-books-tab" data-toggle="pill" href="{{url_for('index')}}"
                aria-controls="v-pills-question-ppr" aria-selected="false" style="color:black;">Logout</a>
            </li>          
        </ul>
    </div>
    <div class="container">
      <div class="profile-content tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade" id="v-pills-books" role="tabpanel" aria-labelledby="v-pills-books-tab" style="height:607px;" >
        <p style="text-align:center;"><b>BOOKS</b></p>
             <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Sr.No.</th>
                    <th scope="col">ISBN</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Category</th>
                    
                  </tr>
                </thead>
                {% for book in books %}
                <tr>
                 <th scope="row">{{loop.index}}</th>
                <td>{{book.isbn}}
                </td>
                <td>{{book.author}}
                </td>
                <td>{{book.title}}
                </td>
                <td>{{book.category}}
                </td>
               
                </tr>
                {% endfor %}
              </table>
              <a href="/downloadbooklist_guest" class="btn btn-primary">Download book list</a>
        </div>
        <div class="tab-pane fade" id="v-pills-question-ppr" role="tabpanel" aria-labelledby="v-pills-question-ppr-tab" style="height:607px;" >
             <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Sr.No.</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Exam</th>
                    <th scope="col">Year</th>
                    
                  </tr>
                </thead>
                {% for q_ppr in que_ppr %}
                <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{q_ppr.subject}}
                </td>
                <td>{{q_ppr.exam}}
                </td>
                <td>{{q_ppr.year}}
                </td>
                
                </tr>
                {% endfor %}
              </table>
                
        </div>
       
     </div>
    </div>

{% endblock %}